<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RSS_Feed_Reader.Properties.Settings.RSSFeedConnectionString"
            connectionString="Data Source=W10C42S6H2\SQLEXPRESS;Initial Catalog=RSSFeed;User ID=System_Admin;Password=Dell#2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>